@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --primary_color: #C92071;
    --text_color_dark_gray: #1f1f1f;
    --text_color_dark_gray_2: #474747;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

html, body{
    font-size: 62.5%;
    height: 100%;
}

header{

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.5px;
        width: 178px;
        height: 64px;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: var(--primary_color);

        img{
            width: 20px;
            margin-bottom: .5px;
        }
    }
}

main{
    display: flex;
    justify-content: center;
    background: linear-gradient(#b5b6f2, #efefff);
    padding: 63px 0 80px;
    
    form{
        background-color: white;
        width: 315px;
        height: 572px;
        padding: 30px;

        .text{

            h1{
                font-size: 22px;
                font-size: 2.1rem;
                font-weight: 700;
                color: var(--text_color_dark_gray);
                line-height: 34px;
                letter-spacing: 2px;
                text-align: center;
            }

            p{
                font-size: 1.4rem;
                letter-spacing: .25px;
                text-align: center;
                color: var(--text_color_dark_gray_2);
                line-height: 24px;
                a{
                    border-bottom: solid .5rem var(--text_color_dark_gray_2);
                }
            }
        }
    }
}