@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --primary_color: #C92071;
    --text_color_dark_gray: #1f1f1f;
    --text_color_dark_gray_2: #474747;
    --background_inputs: #47474708;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    list-style: none;
    font-style: normal;
}

html, body{
    font-size: 62.5%;
    height: 100%;
}

header{

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.5px;
        width: 178px;
        height: 64px;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: var(--primary_color);

        img{
            width: 20px;
            margin-bottom: .5px;
        }
    }
}

main{
    display: flex;
    justify-content: center;
    background: linear-gradient(#b5b6f2, #efefff);
    padding: 63px 0 80px;
    
    form{
        background-color: white;
        width: 315px;
        height: 572px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .text{

            h1{
                font-size: 22px;
                font-size: 2.1rem;
                font-weight: 700;
                color: var(--text_color_dark_gray);
                line-height: 34px;
                letter-spacing: 2px;
                text-align: center;
            }

            p{
                font-size: 1.4rem;
                letter-spacing: .25px;
                text-align: center;
                color: var(--text_color_dark_gray_2);
                line-height: 24px;
                a{
                    border-bottom: solid 1px var(--text_color_dark_gray_2);
                }
            }
        }
        .acesso{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .forms_input{
                display: flex;
                flex-direction: column;
                gap: 5px;
                label{
                    font-size: 1.2rem;
                }
                input{
                    font-size: 1.6rem;
                    padding: 16px 12px;
                    width: 100%;
                    border: none;
                    border-radius: 8px;
                    background-color: var(--background_inputs);
                }
                
            }
            a{
                font-size: 1.6rem;
                color: var(--text_color_dark_gray_2);
                text-decoration: underline;
            }
            
        }

        button{
            width: 100%;
            height: 48px;
            border: none;
            border-radius: 8px;
            font-size: 1.6rem;
            color: white;
            background-color: var(--primary_color);
            cursor: pointer;
        }
        .login_alternativo{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 26px;
            p{
                font-size: 1.4rem;
            }
            ul{
                display: flex;
                flex-direction: row;
                gap: 24px;
            }
        }
    }
    img{
        display: none;
    }
}

footer{
    background-color: var(--text_color_dark_gray);
    color: #fff;
    padding: 50px 20px 45px;


    .box_logo_social{

        .logo_footer{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;

        span{
            font-size: 2.5rem;
            font-weight: 600;
        }
        }

        p{
            font-size: 1.4rem;
            line-height: 22px;
            letter-spacing: .25px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        ul{
            display: flex;
            align-items: center;
            gap: 35px;
            margin-bottom: 40px;
        }
    }

    .nav{
        display: flex;
        gap: 33px;
        margin-bottom: 40px;

        .links{

            h2{
                font-size: 1.8rem;
                margin-bottom: 10px;
            }

            nav{

                a{
                    color: #fff;
                    font-weight: 300;
                    line-height: 31px;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .contact{
        h2{
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        address{
            
            font-size: 1.4rem;
            height: 124px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 40px;
            
            span{
                font-weight: 400;
                line-height: 32px;
            }
        }
    }

    hr{
        border-color: #ffffff50;
        margin-bottom: 23px;
    }

    small{
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        line-height: 24px;
    }


}